node_modules/
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

coverage/
.next/
out/
build/
.turbo/

.env
.env*.local
.env*
!.env.example

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.pem

*.zip
*.tar.gz

*.tsbuildinfo
next-env.d.ts

.vercel
